.DS_Store
# Images not used on the site (originals kept locally only)
images/profile.png
images/profile_zambia.jpeg
images/gallery/thumbs/gaza.png
images/gallery/thumbs/peaky.png
images/profile2.jpeg
